services:
  portfolio:
    image: node:20-alpine
    working_dir: /app
    command: npm run dev
    ports:
      - '3000:3000'
    environment:
      - CHOKIDAR_USEPOLLING=true
      - WATCHPACK_POLLING=true
    volumes:
      - ./:/app
      - /app/node_modules
